/* xs  size */
body {
    font-family: "montserrat", sans-serif !important;
    
}

.banner>img {
    height: 190px;
    width: 100%;
    object-fit: cover;
}

h1{
    font-size: 23px !important;
}


p{
    font-size: 15px !important;
}




/* sm size  */

@media screen and (min-width:576px) {
    .banner>img {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
    h1{
        font-size: 32px !important;
    }
    
    
    p{
        font-size:25px !important;
    }
   
}

/* md size  */

@media screen and (min-width:768px) {

    .banner>img {
        height: 400px;
        width: 100%;
        object-fit: cover;
    }

    h1{
        font-size: 36px !important;
    }
    
    
    p{
        font-size:25px !important;
    }

}

/* lg size  */

@media screen and (min-width:992px) {

    .banner>img {
        height: 500px;
        width: 100%;
        object-fit: cover;
    }

}